<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ClassSwap</title>
</head>
<body>
<!-- Navigation -->
<nav ng-controller="navCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="logoClick()"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- Show this li when logged in -->
                <!-- <li>
                    <a href="">My Swaps</a>
                </li> -->
                <li>
                    <button class="loginBtn" type="button" ng-click="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div ng-controller="myAccountCtrl" class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                My Account
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!-- <h4><i class="fa fa-user" aria-hidden="true"></i> {{student.username}}</h4>
                    <button ng-if="isRemoving || isAdding" type="button" id="doneBtn" ng-click="done()" class="btn btn-default">
                      <i class="fa fa-check" aria-hidden="true"></i> Done
                    </button>
                    <button ng-if="!isRemoving && !isAdding" type="button" id="removeBtn" ng-click="remove()" class="btn btn-default">
                      <i class="fa fa-minus" aria-hidden="true"></i> Remove
                    </button>
                    <button ng-if="!isAdding && !isRemoving" type="button" id="addBtn" ng-click="add()" class="btn btn-default">
                      <i class="fa fa-plus" aria-hidden="true"></i> Add
                    </button> -->
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th><i class="fa fa-folder" aria-hidden="true"></i> Has</th>
                        <th><i class="fa fa-folder-open" aria-hidden="true"></i> Wants</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr >
                        <td class="classInfo">
                          <div ng-repeat="class in accountInfo.Has">
                            <i ng-hide="isRemoving" class="fa fa-caret-right" aria-hidden="true"></i>
                            <input ng-show="isRemoving" type="checkbox" name="has_checked" value="{{class}}"/>
                            &nbsp <strong>{{class.Course_Number}} - {{class.ClassName}}</strong></br>
                            &nbsp &nbsp {{class.Days}} {{class.Start_Time}} - {{class.End_Time}}</br>
                            &nbsp &nbsp {{class.Professor_Name}}
                            <hr ng-show="!$last">
                          </div>
                        </td>
                        <td class="classInfo">
                          <div ng-repeat="class in accountInfo.Wants">
                            <i ng-hide="isRemoving" class="fa fa-caret-right" aria-hidden="true"></i>
                            <input ng-show="isRemoving" type="checkbox" name="wants_checked" value="{{class}}"/>
                            &nbsp <strong>{{class.Course_Number}} - {{class.ClassName}}</strong></br>
                            &nbsp &nbsp {{class.Days}} {{class.Start_Time}} - {{class.End_Time}}</br>
                            &nbsp &nbsp {{class.Professor_Name}}
                            <hr ng-show="!$last">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button ng-hide="isRemoving" ng-click="add()" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Class</button>
                  <!-- <a href="" ng-hide="isAdding || isRemoving" ng-click="add()" class="btn btn-default">Add Class</a> -->
                  <a href="" ng-hide="isRemoving" ng-click="remove()" class="btn btn-default">Remove Class</a>
                  <a href="" ng-show="isRemoving" ng-click="done()" class="btn btn-default">Done</a>
                  <a href="" ng-show="isRemoving" ng-click="cancel()" class="btn btn-default">Cancel</a>

                  <div ng-show="cantAddFlag" class="alert alert-danger">
                    <strong>Sorry!</strong> You can't add
                    <span ng-repeat="class in classesCantAdd">{{$first ? '' : $last ? ' and ' : ', '}}{{class}}</span>
                    because they are already in your list of classes.
                  </div>
                  <div ng-show="canAddFlag" class="alert alert-success">
                    <strong>Success!</strong> Added
                    <span ng-repeat="class in temp">{{$first ? '' : $last ? ' and ' : ', '}}{{class.Course_Number}}</span>.
                  </div>
                </div>
            </div>
        </div>
      </div>

      <!-- Modal -->
      <div ng-controller="modalCtrl" class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Class Available</h4>
            </div>
            <div class="modal-body">
              <form method="post" id="framework_form">
                <div class="form-group">
                 <label>Select which classes you want to add</label>
                 <!-- <select id="framework" name="framework[]" multiple="multiple" class="form-control" >
                  <option ng-repeat="class in allClasses" value="{{class}}">{{class.Course_Number}}</option>
                 </select> -->
                 <select id="select-dropdown" multiple="multiple"  name="multiselect[]" data-dropdownmultiselect>
                   <option data-ng-repeat="option in allClasses" value="{{option}}" data-ng-bind-template="{{option.Course_Number}}, {{option.Section_Number}}">
                   </option>
                 </select>
                </div>
               </form>
            </div>
            <div class="modal-footer">
         		<input ng-click="addClasses()" type="submit" class="btn btn-primary" name="submit" data-dismiss="modal" value="Add" />
            <input ng-click="close()" type="button" class="btn btn-default" data-dismiss="modal" value="Close"/>
            </div>
          </div>

        </div>
      </div>

    <!-- /.row -->

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <!-- <p>Copyright &copy; Your Website 2014</p> -->
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

</body>
</html>
