<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ClassSwap</title>
    <script src="./js/angular.min.js"></script>
    <script src="./app.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="./bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./classSwap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="myapp">
  <nav ng-controller="navCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" ng-click="logoClick()"></a>
          </div>
        </div>
      </nav>

      <form ng-controller="registerCtrl" class="form-horizontal" role="form" ng-submit="submit()">
        <h2>Registration Form</h2>
        <div class="form-group">
            <label for="fName" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
                <input ng-model="fName" type="fName" id="fname" placeholder="First Name" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="lName" class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-9">
                <input ng-model="lName" type="lName" id="lname" placeholder="Last Name" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input ng-model="email" type="email" id="email" placeholder="Email" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="Username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <input ng-model="username" type="Username" id="Username" placeholder="Username" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input ng-model="pass" type="password" id="password" placeholder="Password" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label">Terms of use</label>
            <div class="col-xs-9">
                <div style="border: 1px solid #e5e5e5; height: 200px; overflow: auto; padding: 10px;">
                    <p>Lorem ipsum dolor sit amet, veniam numquam has te. No suas nonumes recusabo mea, est ut graeci definitiones. His ne melius vituperata scriptorem, cum paulo copiosae conclusionemque at. Facer inermis ius in, ad brute nominati referrentur vis. Dicat erant sit ex. Phaedrum imperdiet scribentur vix no, ad latine similique forensibus vel.</p>
                    <p>Dolore populo vivendum vis eu, mei quaestio liberavisse ex. Electram necessitatibus ut vel, quo at probatus oportere, molestie conclusionemque pri cu. Brute augue tincidunt vim id, ne munere fierent rationibus mei. Ut pro volutpat praesent qualisque, an iisque scripta intellegebat eam.</p>
                    <p>Mea ea nonumy labores lobortis, duo quaestio antiopam inimicus et. Ea natum solet iisque quo, prodesset mnesarchum ne vim. Sonet detraxit temporibus no has. Omnium blandit in vim, mea at omnium oblique.</p>
                    <p>Eum ea quidam oportere imperdiet, facer oportere vituperatoribus eu vix, mea ei iisque legendos hendrerit. Blandit comprehensam eu his, ad eros veniam ridens eum. Id odio lobortis elaboraret pro. Vix te fabulas partiendo.</p>
                    <p>Natum oportere et qui, vis graeco tincidunt instructior an, autem elitr noster per et. Mea eu mundi qualisque. Quo nemore nusquam vituperata et, mea ut abhorreant deseruisse, cu nostrud postulant dissentias qui. Postea tincidunt vel eu.</p>
                    <p>Ad eos alia inermis nominavi, eum nibh docendi definitionem no. Ius eu stet mucius nonumes, no mea facilis philosophia necessitatibus. Te eam vidit iisque legendos, vero meliore deserunt ius ea. An qui inimicus inciderint.</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" required>I accept the <a href="#">Terms & Conditions</a>
                    </label>
                </div>
            </div>
        </div> <!-- /.form-group -->
        <!-- <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button ng-click="submit()" type="submit" class="btn btn-custom btn-block">Register</button>
            </div>
        </div> -->
        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Register">
      </form> <!-- /form -->
    <!-- Page Content -->



    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./bootstrap.min.js"></script>

</body>

</html>
